.no-margin{
	margin: 0px;
}
.no-padding{
	padding: 0px;
}

.navbar-inverse{
  background: none;
  border:  none;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}




/*contact section*/
.contact {
  padding: 80px 0;
  background: #FFFFFF;
  color: #fff;
}
.contact .contact-inner {
  max-width: 760px;
  margin: 0 auto;
}
.contact .title {
  color: #4D4D4D;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact .intro {
  margin-bottom: 60px;
  color: #4D4D4D;
}
.contact a {
  color: #074f66;
}
.contact a:hover {
  color: #042a36;
}
.contact .author-message {
  position: relative;
  margin-bottom: 60px;
}
.contact .author-message .profile {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 100px;
  height: 100px;
}
.contact .author-message .profile img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact .author-message .speech-bubble {
  margin-left: 155px;
  background: #8CC63F;
  color: ##373535;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.contact .author-message .speech-bubble .sub-title {
  color: #4D4D4D;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact .author-message .speech-bubble a {
  color: #fff;
}
.contact .author-message .speech-bubble:after {
  position: absolute;
  left: -10px;
  top: 60px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #8CC63F;
}
.contact .author-message .speech-bubble .source {
  margin-top: 30px;
}
.contact .author-message .speech-bubble .source a {
  color: #4D4D4D;
}
.contact .author-message .speech-bubble .source .title {
  color: #4D4D4D;
}
.contact .info .sub-title {
  color: #4D4D4D;
  margin-bottom: 30px;
  margin-top: 0;
}
.contact .social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  margin: 0 auto;
}
.contact .social-icons li {
  float: left;
}
.contact .social-icons li.last {
  margin-right: 0;
}
.contact .social-icons a {
  border: 4px solid #4D4D4D;
  display: inline-block;
  width: 56px;
  height: 56px;
  text-align: center;
  padding: 11px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: left;
  background: #fff
}
.contact .social-icons a:hover {
  background: #C1E592;
}
.contact .social-icons a .fa {
  color: #888;
}
.contact .social-icons a .fa:before {
  font-size: 26px;
  text-align: center;
  padding: 0;
  color: #234
}
.fa .fa-facebook{
  color: #3b5998
}
.fa-twitter{
  color: #55ACEE
}



/* ======= Footer ======= */
.footer {
  padding: 15px 0;
  background: #77A836;
  color: #fff;
}
.footer .copyright {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.footer .fa-heart {
  color: #fb866a;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .main-nav button {
    margin-right: 0;
  }
  .header .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo .btns .btn {
    margin-right: 0;
    clear: both;
    display: block;
    margin-bottom: 30px;
  }
  .promo .title {
    font-size: 66px;
  }
  .promo .meta {
    margin-top: 60px;
  }
  .promo .meta li {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  .contact .author-message {
    text-align: center;
  }
  .contact .author-message .profile {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .contact .author-message .speech-bubble {
    margin-left: 0;
  }
  .contact .author-message .speech-bubble:after {
    display: none;
  }
  .contact .social-icons a {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    margin-right: 2px;
  }
  .contact .social-icons a .fa:before {
    font-size: 18px;
  }

}
}